Host myth
	HostName myth.stanford.edu

Host corn
	HostName corn.stanford.edu

Host pup
	HostName pup.stanford.edu

Host myth corn pup *.stanford.edu
	User jackoway
	GSSAPIKeyExchange yes
	GSSAPIAuthentication yes
	GSSAPIDelegateCredentials yes

Host sing
     HostName sing.stanford.edu
     User jackoway
Host anyware
     HostName anyware.stanford.edu
     User jackoway
Host walrus
     HostName walrus.stanford.edu
     User jackoway

Host vps
	HostName vps.danieljackoway.com

Host dj.stanford.edu
     User daniel

Host vm
  HostName 192.168.50.4
  User vagrant
  Port 22
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile /Users/daniel/.vagrant.d/insecure_private_key
  IdentitiesOnly yes
  LogLevel FATAL
